# Load Data & Cek Struktur

In [2]:
import pandas as pd

# Path dataset (sesuai lokasi di komputermu)
path = r"D:\KULIAH UNNES\Metode Sampling dan Survei\Mental Health in Tech Survey\Mental-Healt-in-Tech-Survey\archive\survey.csv"

# 1. Load data
df = pd.read_csv(path)

In [3]:
# 2. Cek ukuran dataset
print("=== SHAPE DATA ===")
print(df.shape)   # (baris, kolom)

=== SHAPE DATA ===
(1259, 27)

In [4]:
# 3. Lihat 5 baris awal
print("\n=== HEAD (5 BARIS PERTAMA) ===")
display(df.head())

=== HEAD (5 BARIS PERTAMA) ===

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
# 4. Informasi tipe data & missing
print("\n=== INFO DATA ===")
print(df.info())

=== INFO DATA ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB
None

In [6]:
# 5. Jumlah missing tiap kolom
print("\n=== JUMLAH MISSING PER KOLOM ===")
print(df.isna().sum())

=== JUMLAH MISSING PER KOLOM ===
Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

# Tahapan Sampling di Data

In [7]:
import pandas as pd
import numpy as np

# 2.1 Frame awal = seluruh responden

N_awal = df.shape[0]
print("Jumlah responden awal (frame awal):", N_awal)

Jumlah responden awal (frame awal): 1259

In [9]:
# Filter hanya pekerja sektor teknologi
df_tech = df[df["tech_company"] == "Yes"].copy()
N_tech = df_tech.shape[0]
print("Jumlah pekerja sektor teknologi:", N_tech)

Jumlah pekerja sektor teknologi: 1031

In [10]:
# Bersihkan variabel Age
df_tech = df_tech[(df_tech["Age"] >= 18) & (df_tech["Age"] <= 80)]

In [11]:
# Pertahankan hanya responden dengan treatment valid
df_tech = df_tech[df_tech["treatment"].isin(["Yes", "No"])]

In [12]:
# (Opsional) Buang baris tanpa informasi kunci (misal Age missing)
df_sample = df_tech.dropna(subset=["Age", "treatment"])

N_sample = df_sample.shape[0]

In [13]:
# Tampilkan ringkasan ukuran sampel
print("\n=== RINGKASAN SAMPEL ===")
print("Frame awal (total responden)      :", N_awal)
print("Pekerja sektor teknologi           :", N_tech)
print("Sampel setelah kriteria inklusi    :", N_sample)

=== RINGKASAN SAMPEL ===
Frame awal (total responden)      : 1259
Pekerja sektor teknologi           : 1031
Sampel setelah kriteria inklusi    : 1025

In [14]:
# Lihat beberapa baris sampel
print("\n=== 5 BARIS PERTAMA SAMPEL AKHIR ===")
display(df_sample.head())

=== 5 BARIS PERTAMA SAMPEL AKHIR ===

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN

# Frame awal = semua responden

In [15]:
# Menyimpan jumlah responden awal
N_awal = df.shape[0]
K_awal = df.shape[1]

print("=== FRAME AWAL SURVEI ===")
print(f"Jumlah responden (baris): {N_awal}")
print(f"Jumlah variabel (kolom) : {K_awal}")

=== FRAME AWAL SURVEI ===
Jumlah responden (baris): 1259
Jumlah variabel (kolom) : 27

In [16]:
# Lihat 5 baris sampel data awal
print("\n=== 5 BARIS PERTAMA FRAME AWAL ===")
display(df.head())

=== 5 BARIS PERTAMA FRAME AWAL ===

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [17]:
# Cek missing di frame awal (gambaran kualitas data awal)
print("\n=== JUMLAH MISSING DI FRAME AWAL (TOP 10) ===")
display(df.isna().sum().sort_values(ascending=False).head(10))

=== JUMLAH MISSING DI FRAME AWAL (TOP 10) ===

comments          1095
state              515
work_interfere     264
self_employed       18
Gender               0
Timestamp            0
Age                  0
family_history       0
treatment            0
no_employees         0
dtype: int64

# Filter pekerja sektor teknologi

In [18]:
# Memilih hanya responden yang bekerja di perusahaan teknologi
df_tech = df[df["tech_company"] == "Yes"].copy()

# Hitung jumlah responden setelah filter
N_tech = df_tech.shape[0]
K_tech = df_tech.shape[1]

print("=== FILTER: PEKERJA SEKTOR TEKNOLOGI ===")
print(f"Jumlah responden yang bekerja di sektor teknologi : {N_tech}")
print(f"Jumlah variabel                                  : {K_tech}")

=== FILTER: PEKERJA SEKTOR TEKNOLOGI ===
Jumlah responden yang bekerja di sektor teknologi : 1031
Jumlah variabel                                  : 27

In [20]:
# Lihat 5 baris pertama untuk memastikan hasil filtering
print("\n=== 5 BARIS PERTAMA df_tech ===")
display(df_tech.head())

=== 5 BARIS PERTAMA df_tech ===

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN

In [21]:
# Distribusi tech_company untuk memastikan hanya 'Yes' yang tersisa
print("\n=== DISTRIBUSI VARIABEL tech_company ===")
display(df_tech["tech_company"].value_counts())

=== DISTRIBUSI VARIABEL tech_company ===

tech_company
Yes    1031
Name: count, dtype: int64

# Terapkan kriteria inklusi

In [23]:
df_temp = df_tech.copy()

In [24]:
# 1. FILTER USIA (40–49 SAJA)
df_temp = df_temp[(df_temp["Age"] >= 40) & (df_temp["Age"] <= 49)]
print("Setelah filter umur (40–49):", df_temp.shape[0], "responden")

Setelah filter umur (40–49): 112 responden

In [26]:
# 2. PERTAHANKAN HANYA RESPONDEN DENGAN TREATMENT VALID (Yes/No)
df_temp = df_temp[df_temp["treatment"].isin(["Yes", "No"])]
print("Setelah filter treatment valid (Yes/No):", df_temp.shape[0], "responden")

Setelah filter treatment valid (Yes/No): 112 responden

In [27]:
# 3. DROP BARIS YANG MISSING DI VARIABEL KUNCI (jika perlu)
df_sample = df_temp.dropna(subset=["Age", "treatment"])
print("Setelah drop NA pada kolom kunci:", df_sample.shape[0], "responden")

Setelah drop NA pada kolom kunci: 112 responden

In [28]:
# 4. TAMPILKAN RINGKASAN
print("\n=== RINGKASAN SAMPEL AKHIR ===")
print(f"Jumlah sampel akhir setelah kriteria inklusi: {df_sample.shape[0]}")
print(f"Jumlah variabel: {df_sample.shape[1]}")

=== RINGKASAN SAMPEL AKHIR ===
Jumlah sampel akhir setelah kriteria inklusi: 112
Jumlah variabel: 27

In [29]:
# Lihat 5 baris pertama sebagai pengecekan
print("\n=== 5 BARIS PERTAMA df_sample ===")
display(df_sample.head())

=== 5 BARIS PERTAMA df_sample ===

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes,NaN
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No,NaN
33,2014-08-27 11:39:36,42,Male,United States,WA,No,Yes,Yes,Sometimes,26-100,...,Very easy,Maybe,No,Some of them,Some of them,Maybe,Yes,Don't know,No,I selected my current employer based on its po...
34,2014-08-27 11:40:51,40,female,United States,WI,No,No,Yes,Sometimes,1-5,...,Don't know,Maybe,No,Some of them,No,No,Maybe,Yes,No,NaN

# Cleaning lanjutan & pembentukan variabel

In [ ]:
# ============================================================
# TAHAP 3 — CLEANING LANJUTAN & PEMBENTUKAN VARIABEL
# ============================================================

df_clean = df_sample.copy()

print("=== CLEANING LANJUTAN DATA ===")

# 1. Menyederhanakan Gender → Gender_simple (Male / Female / Other)

def simplify_gender(x):
    if pd.isna(x):
        return "Other"
    s = str(x).strip().lower()
    
    male_list = ["male", "m", "man", "cis male", "cis man", 
                 "male-ish", "msle", "malr", "mail", "make"]
    female_list = ["female", "f", "woman", "cis female", "cis woman", 
                   "femake", "femail"]

    if s in male_list:
        return "Male"
    elif s in female_list:
        return "Female"
    else:
        return "Other"

df_clean["Gender_simple"] = df_clean["Gender"].apply(simplify_gender)

print("Gender_simple berhasil dibuat.")

# 2. Hapus responden dengan Gender_simple = "Other"

df_clean = df_clean[df_clean["Gender_simple"] != "Other"]
print("Setelah menghapus gender 'Other':", df_clean.shape[0], "responden")

=== CLEANING LANJUTAN DATA ===
Gender_simple berhasil dibuat.
Setelah menghapus gender 'Other': 109 responden

In [32]:
# ------------------------------------------------------------
# 2. Membuat variabel target numerik: treatment_bin (Yes=1, No=0)
# ------------------------------------------------------------
df_clean["treatment_bin"] = df_clean["treatment"].map({"Yes": 1, "No": 0})

print("treatment_bin berhasil dibuat.")

treatment_bin berhasil dibuat.

In [33]:
# ------------------------------------------------------------
# 3. Membuat kelompok umur → AgeGroup
# ------------------------------------------------------------
bins = [18, 29, 39, 49, 59, 80]
labels = ["18-29", "30-39", "40-49", "50-59", "60-80"]

df_clean["AgeGroup"] = pd.cut(df_clean["Age"], bins=bins, labels=labels, right=True)

print("AgeGroup berhasil dibuat.")

AgeGroup berhasil dibuat.

In [34]:
# ------------------------------------------------------------
# 4. Merapikan kategori penting
# ------------------------------------------------------------

def clean_category(x):
    if pd.isna(x):
        return x
    s = str(x).strip().lower()
    if s in ["i don't know", "don't know", "na", "n/a"]:
        return "Unknown"
    return x

categorical_cols = [
    "benefits", "care_options", "wellness_program", "seek_help",
    "anonymity", "leave", "mental_health_consequence",
    "phys_health_consequence", "coworkers", "supervisor",
    "mental_vs_physical"
]

for col in categorical_cols:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].apply(clean_category)

print("Kategori penting berhasil dirapikan.")

Kategori penting berhasil dirapikan.

In [35]:
# ------------------------------------------------------------
# 5. Menampilkan ringkasan hasil cleaning
# ------------------------------------------------------------
print("\n=== RINGKASAN SETELAH CLEANING ===")
print("Jumlah responden :", df_clean.shape[0])
print("Jumlah variabel  :", df_clean.shape[1])

print("\nContoh 5 baris pertama:")
display(df_clean.head())

print("\nFrekuensi Gender_simple:")
print(df_clean["Gender_simple"].value_counts())

print("\nFrekuensi AgeGroup:")
print(df_clean["AgeGroup"].value_counts())

=== RINGKASAN SETELAH CLEANING ===
Jumlah responden : 109
Jumlah variabel  : 30

Contoh 5 baris pertama:

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,Gender_simple,treatment_bin,AgeGroup
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Yes,Yes,No,Maybe,No,No,NaN,Female,1,40-49
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Yes,Yes,No,Yes,Yes,Yes,NaN,Male,0,40-49
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Some of them,Yes,No,Maybe,No,No,NaN,Male,1,40-49
33,2014-08-27 11:39:36,42,Male,United States,WA,No,Yes,Yes,Sometimes,26-100,...,Some of them,Some of them,Maybe,Yes,Unknown,No,I selected my current employer based on its po...,Male,1,40-49
34,2014-08-27 11:40:51,40,female,United States,WI,No,No,Yes,Sometimes,1-5,...,Some of them,No,No,Maybe,Yes,No,NaN,Female,1,40-49

Frekuensi Gender_simple:
Gender_simple
Male      94
Female    15
Name: count, dtype: int64

Frekuensi AgeGroup:
AgeGroup
40-49    109
18-29      0
30-39      0
50-59      0
60-80      0
Name: count, dtype: int64

# Definisi & seleksi variabel penelitian

In [36]:
# 1. Variabel Dependen (Y)
Y_var = "treatment_bin"

In [37]:

# 2. Variabel Independen: Dukungan Perusahaan
support_vars = [
    "benefits",
    "care_options",
    "wellness_program",
    "seek_help",
    "anonymity",
    "leave"
]

In [38]:
# 3. Variabel Independen: Stigma dan Iklim Psikologis
stigma_vars = [
    "mental_health_consequence",
    "phys_health_consequence",
    "mental_health_interview",
    "phys_health_interview",
    "mental_vs_physical",
    "coworkers",
    "supervisor",
    "obs_consequence"
]

In [39]:
# 4. Variabel Kontrol
control_vars = [
    "Age",
    "AgeGroup",
    "Gender_simple",
    "no_employees",
    "remote_work"
]

In [40]:
# 5. Gabungkan semua variabel menjadi satu daftar
all_vars = [Y_var] + support_vars + stigma_vars + control_vars

# Buat df_model yang hanya berisi variabel tersebut
df_model = df_clean[all_vars].copy()

print("Jumlah responden sebelum drop NA:", df_model.shape[0])

Jumlah responden sebelum drop NA: 109

In [41]:
# 6. Hapus baris dengan missing pada variabel inti
df_model_clean = df_model.dropna()

print("Jumlah responden setelah drop NA :", df_model_clean.shape[0])
print("Jumlah variabel                  :", df_model_clean.shape[1])

Jumlah responden setelah drop NA : 109
Jumlah variabel                  : 20

In [42]:
# 7. Tampilkan beberapa baris untuk verifikasi
print("\nContoh 5 baris pertama df_model_clean:")
display(df_model_clean.head())

Contoh 5 baris pertama df_model_clean:

,treatment_bin,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,mental_health_interview,phys_health_interview,mental_vs_physical,coworkers,supervisor,obs_consequence,Age,AgeGroup,Gender_simple,no_employees,remote_work
8,1,Yes,Yes,No,No,No,Very difficult,Maybe,No,No,Maybe,No,Yes,Yes,No,42,40-49,Female,100-500,No
18,0,Yes,Not sure,Yes,Unknown,Yes,Very easy,No,No,No,Yes,Yes,Yes,Yes,Yes,46,40-49,Male,1-5,Yes
22,1,Yes,Yes,No,No,Unknown,Unknown,Maybe,No,No,Maybe,No,Some of them,Yes,No,46,40-49,Male,26-100,Yes
33,1,Yes,Yes,Yes,Yes,Yes,Very easy,Maybe,No,Maybe,Yes,Unknown,Some of them,Some of them,No,42,40-49,Male,26-100,Yes
34,1,Yes,Yes,No,No,Unknown,Unknown,Maybe,No,No,Maybe,Yes,Some of them,No,No,40,40-49,Female,1-5,No

In [43]:
# 8. Tampilkan ringkasan kategori variabel utama
print("\nDistribusi treatment_bin:")
print(df_model_clean["treatment_bin"].value_counts())

print("\nDistribusi Gender_simple:")
print(df_model_clean["Gender_simple"].value_counts())

print("\nDistribusi AgeGroup:")
print(df_model_clean["AgeGroup"].value_counts())

Distribusi treatment_bin:
treatment_bin
1    69
0    40
Name: count, dtype: int64

Distribusi Gender_simple:
Gender_simple
Male      94
Female    15
Name: count, dtype: int64

Distribusi AgeGroup:
AgeGroup
40-49    109
18-29      0
30-39      0
50-59      0
60-80      0
Name: count, dtype: int64

# Analisis deskriptif

In [44]:
# 1. Statistik deskriptif umur
print("\n--- Statistika Umur (Age) ---")
print(df_model_clean["Age"].describe())

--- Statistika Umur (Age) ---
count    109.000000
mean      42.844037
std        2.542871
min       40.000000
25%       41.000000
50%       43.000000
75%       45.000000
max       49.000000
Name: Age, dtype: float64

In [45]:
# 2. Distribusi variabel demografi
print("\n--- Distribusi Gender_simple ---")
print(df_model_clean["Gender_simple"].value_counts())

print("\n--- Distribusi AgeGroup ---")
print(df_model_clean["AgeGroup"].value_counts())

print("\n--- Distribusi Ukuran Perusahaan (no_employees) ---")
print(df_model_clean["no_employees"].value_counts())

print("\n--- Distribusi Remote Work ---")
print(df_model_clean["remote_work"].value_counts())

--- Distribusi Gender_simple ---
Gender_simple
Male      94
Female    15
Name: count, dtype: int64

--- Distribusi AgeGroup ---
AgeGroup
40-49    109
18-29      0
30-39      0
50-59      0
60-80      0
Name: count, dtype: int64

--- Distribusi Ukuran Perusahaan (no_employees) ---
no_employees
More than 1000    33
6-25              22
1-5               16
100-500           15
26-100            15
500-1000           8
Name: count, dtype: int64

--- Distribusi Remote Work ---
remote_work
No     58
Yes    51
Name: count, dtype: int64

In [46]:
# 3. Distribusi variabel dukungan perusahaan
support_vars = [
    "benefits", "care_options", "wellness_program",
    "seek_help", "anonymity", "leave"
]

print("\n--- Distribusi Variabel Dukungan Perusahaan ---")
for col in support_vars:
    print(f"\nVariabel: {col}")
    print(df_model_clean[col].value_counts())

--- Distribusi Variabel Dukungan Perusahaan ---

Variabel: benefits
benefits
Yes        58
Unknown    28
No         23
Name: count, dtype: int64

Variabel: care_options
care_options
Yes         52
No          30
Not sure    27
Name: count, dtype: int64

Variabel: wellness_program
wellness_program
No         70
Yes        29
Unknown    10
Name: count, dtype: int64

Variabel: seek_help
seek_help
No         42
Yes        37
Unknown    30
Name: count, dtype: int64

Variabel: anonymity
anonymity
Unknown    70
Yes        34
No          5
Name: count, dtype: int64

Variabel: leave
leave
Unknown               55
Somewhat easy         16
Very easy             15
Very difficult        12
Somewhat difficult    11
Name: count, dtype: int64

In [47]:
# 4. Distribusi variabel stigma
stigma_vars = [
    "mental_health_consequence", "phys_health_consequence",
    "mental_health_interview", "phys_health_interview",
    "mental_vs_physical", "coworkers",
    "supervisor", "obs_consequence"
]

print("\n--- Distribusi Variabel Stigma & Iklim Psikologis ---")
for col in stigma_vars:
    print(f"\nVariabel: {col}")
    print(df_model_clean[col].value_counts())

--- Distribusi Variabel Stigma & Iklim Psikologis ---

Variabel: mental_health_consequence
mental_health_consequence
Maybe    42
No       38
Yes      29
Name: count, dtype: int64

Variabel: phys_health_consequence
phys_health_consequence
No       72
Maybe    29
Yes       8
Name: count, dtype: int64

Variabel: mental_health_interview
mental_health_interview
No       88
Maybe    14
Yes       7
Name: count, dtype: int64

Variabel: phys_health_interview
phys_health_interview
Maybe    53
No       42
Yes      14
Name: count, dtype: int64

Variabel: mental_vs_physical
mental_vs_physical
Unknown    49
No         30
Yes        30
Name: count, dtype: int64

Variabel: coworkers
coworkers
Some of them    58
Yes             27
No              24
Name: count, dtype: int64

Variabel: supervisor
supervisor
Yes             40
No              39
Some of them    30
Name: count, dtype: int64

Variabel: obs_consequence
obs_consequence
No     88
Yes    21
Name: count, dtype: int64

In [48]:
# 5. Distribusi variabel dependen (treatment)
print("\n--- Distribusi Variabel Target: treatment_bin ---")
print(df_model_clean["treatment_bin"].value_counts())
print("\nProporsi treatment_bin (dalam persen):")
print(df_model_clean["treatment_bin"].value_counts(normalize=True) * 100)

--- Distribusi Variabel Target: treatment_bin ---
treatment_bin
1    69
0    40
Name: count, dtype: int64

Proporsi treatment_bin (dalam persen):
treatment_bin
1    63.302752
0    36.697248
Name: proportion, dtype: float64

In [49]:
# 6. Tampilkan sampel data akhir
print("\n--- Contoh 5 baris pertama df_model_clean ---")
display(df_model_clean.head())

--- Contoh 5 baris pertama df_model_clean ---

,treatment_bin,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,mental_health_interview,phys_health_interview,mental_vs_physical,coworkers,supervisor,obs_consequence,Age,AgeGroup,Gender_simple,no_employees,remote_work
8,1,Yes,Yes,No,No,No,Very difficult,Maybe,No,No,Maybe,No,Yes,Yes,No,42,40-49,Female,100-500,No
18,0,Yes,Not sure,Yes,Unknown,Yes,Very easy,No,No,No,Yes,Yes,Yes,Yes,Yes,46,40-49,Male,1-5,Yes
22,1,Yes,Yes,No,No,Unknown,Unknown,Maybe,No,No,Maybe,No,Some of them,Yes,No,46,40-49,Male,26-100,Yes
33,1,Yes,Yes,Yes,Yes,Yes,Very easy,Maybe,No,Maybe,Yes,Unknown,Some of them,Some of them,No,42,40-49,Male,26-100,Yes
34,1,Yes,Yes,No,No,Unknown,Unknown,Maybe,No,No,Maybe,Yes,Some of them,No,No,40,40-49,Female,1-5,No

# Analisis bivariat (chi-square)

In [50]:
# TAHAP 6 — ANALISIS BIVARIAT (UJI CHI-SQUARE)

from scipy.stats import chi2_contingency

print("=== ANALISIS BIVARIAT: UJI CHI-SQUARE ===")

# Daftar variabel independen yang diuji terhadap treatment_bin
support_vars = [
    "benefits", "care_options", "wellness_program",
    "seek_help", "anonymity", "leave"
]

stigma_vars = [
    "mental_health_consequence", "phys_health_consequence",
    "mental_health_interview", "phys_health_interview",
    "mental_vs_physical", "coworkers", "supervisor",
    "obs_consequence"
]

all_test_vars = support_vars + stigma_vars

hasil_chi = []  # untuk merangkum hasil

for var in all_test_vars:
    print("\n====================================================")
    print(f"Uji Chi-Square antara '{var}' dan 'treatment_bin'")
    
    # Crosstab
    ct = pd.crosstab(df_model_clean[var], df_model_clean["treatment_bin"])
    print("\nTabel Kontingensi:")
    display(ct)
    
    # Uji chi-square
    chi2, p, dof, expected = chi2_contingency(ct)
    
    print(f"Chi-square statistic: {chi2:.4f}")
    print(f"p-value: {p:.4f}")
    print(f"Degrees of freedom: {dof}")
    
    # Kesimpulan
    if p < 0.05:
        print("Kesimpulan: Ada hubungan signifikan (p < 0.05).")
    else:
        print("Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).")
    
    # Simpan ke ringkasan
    hasil_chi.append([var, chi2, p, dof])

# Ringkasan hasil chi-square
hasil_chi_df = pd.DataFrame(hasil_chi, columns=["Variabel", "Chi2", "p-value", "df"])
print("\n====================================================")
print("RINGKASAN HASIL UJI CHI-SQUARE")
display(hasil_chi_df.sort_values("p-value"))

=== ANALISIS BIVARIAT: UJI CHI-SQUARE ===

====================================================
Uji Chi-Square antara 'benefits' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin   0   1
benefits
No             11  12
Unknown        15  13
Yes            14  44

Chi-square statistic: 8.5965
p-value: 0.0136
Degrees of freedom: 2
Kesimpulan: Ada hubungan signifikan (p < 0.05).

====================================================
Uji Chi-Square antara 'care_options' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin   0   1
care_options
No             15  15
Not sure       13  14
Yes            12  40

Chi-square statistic: 7.9620
p-value: 0.0187
Degrees of freedom: 2
Kesimpulan: Ada hubungan signifikan (p < 0.05).

====================================================
Uji Chi-Square antara 'wellness_program' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin      0   1
wellness_program
No                28  42
Unknown            2   8
Yes               10  19

Chi-square statistic: 1.5901
p-value: 0.4516
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'seek_help' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin   0   1
seek_help
No             19  23
Unknown        11  19
Yes            10  27

Chi-square statistic: 2.8083
p-value: 0.2456
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'anonymity' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin   0   1
anonymity
No              2   3
Unknown        31  39
Yes             7  27

Chi-square statistic: 5.5567
p-value: 0.0621
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'leave' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin        0   1
leave
Somewhat difficult   4   7
Somewhat easy        5  11
Unknown             24  31
Very difficult       3   9
Very easy            4  11

Chi-square statistic: 2.7014
p-value: 0.6090
Degrees of freedom: 4
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'mental_health_consequence' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin               0   1
mental_health_consequence
Maybe                      12  30
No                         17  21
Yes                        11  18

Chi-square statistic: 2.2701
p-value: 0.3214
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'phys_health_consequence' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin             0   1
phys_health_consequence
Maybe                     9  20
No                       28  44
Yes                       3   5

Chi-square statistic: 0.5514
p-value: 0.7590
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'mental_health_interview' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin             0   1
mental_health_interview
Maybe                     6   8
No                       33  55
Yes                       1   6

Chi-square statistic: 1.7666
p-value: 0.4134
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'phys_health_interview' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin           0   1
phys_health_interview
Maybe                  18  35
No                     20  22
Yes                     2  12

Chi-square statistic: 5.3543
p-value: 0.0688
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'mental_vs_physical' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin        0   1
mental_vs_physical
No                  12  18
Unknown             19  30
Yes                  9  21

Chi-square statistic: 0.8112
p-value: 0.6666
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'coworkers' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin   0   1
coworkers
No             11  13
Some of them   22  36
Yes             7  20

Chi-square statistic: 2.2488
p-value: 0.3248
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'supervisor' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin   0   1
supervisor
No             17  22
Some of them   11  19
Yes            12  28

Chi-square statistic: 1.5699
p-value: 0.4561
Degrees of freedom: 2
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
Uji Chi-Square antara 'obs_consequence' dan 'treatment_bin'

Tabel Kontingensi:

treatment_bin     0   1
obs_consequence
No               34  54
Yes               6  15

Chi-square statistic: 0.3695
p-value: 0.5433
Degrees of freedom: 1
Kesimpulan: Tidak ada hubungan signifikan (p ≥ 0.05).

====================================================
RINGKASAN HASIL UJI CHI-SQUARE

                     Variabel      Chi2   p-value  df
0                    benefits  8.596485  0.013592   2
1                care_options  7.961953  0.018667   2
4                   anonymity  5.556730  0.062140   2
9       phys_health_interview  5.354337  0.068758   2
3                   seek_help  2.808285  0.245577   2
6   mental_health_consequence  2.270086  0.321408   2
11                  coworkers  2.248824  0.324843   2
8     mental_health_interview  1.766595  0.413417   2
2            wellness_program  1.590060  0.451568   2
12                 supervisor  1.569888  0.456145   2
13            obs_consequence  0.369545  0.543253   1
5                       leave  2.701379  0.608973   4
10         mental_vs_physical  0.811213  0.666572   2
7     phys_health_consequence  0.551404  0.759039   2

# Analisis multivariat (Regresi Logistik)

In [51]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (0.14.5)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (2.3.5)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (1.16.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (2.3.3)
Requirement already satisfied: patsy>=0.5.6 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (1.0.2)
Requirement already satisfied: packaging>=21.3 in c:\users\acer\appdata\roaming\python\python312\site-packages (from statsmodels) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [52]:
import statsmodels.formula.api as smf
import numpy as np
import pandas as pd

# 1. Tentukan variabel independen yang akan dimasukkan ke model
support_vars = [
    "benefits", "care_options", "wellness_program",
    "seek_help", "anonymity", "leave"
]

stigma_vars = [
    "mental_health_consequence", "phys_health_consequence",
    "mental_health_interview", "phys_health_interview",
    "mental_vs_physical", "coworkers", "supervisor",
    "obs_consequence"
]

control_vars = [
    "Age", "Gender_simple", "no_employees", "remote_work"
]

all_X = support_vars + stigma_vars + control_vars

In [53]:
# 2. Buat formula regresi logistik
formula = "treatment_bin ~ Age + C(Gender_simple) + C(no_employees) + C(remote_work)"

# Tambahkan dukungan perusahaan
for v in support_vars:
    formula += f" + C({v})"

# Tambahkan stigma
for v in stigma_vars:
    formula += f" + C({v})"

print("Formula regresi logistik:")
print(formula)

Formula regresi logistik:
treatment_bin ~ Age + C(Gender_simple) + C(no_employees) + C(remote_work) + C(benefits) + C(care_options) + C(wellness_program) + C(seek_help) + C(anonymity) + C(leave) + C(mental_health_consequence) + C(phys_health_consequence) + C(mental_health_interview) + C(phys_health_interview) + C(mental_vs_physical) + C(coworkers) + C(supervisor) + C(obs_consequence)

In [54]:
# 3. Fit model regresi logistik
logit_model = smf.logit(formula=formula, data=df_model_clean).fit()

print("\n=== HASIL REGRESI LOGISTIK ===")
print(logit_model.summary())

Optimization terminated successfully.
         Current function value: 0.434413
         Iterations 7

=== HASIL REGRESI LOGISTIK ===
                           Logit Regression Results
==============================================================================
Dep. Variable:          treatment_bin   No. Observations:                  109
Model:                          Logit   Df Residuals:                       71
Method:                           MLE   Df Model:                           37
Date:                Thu, 27 Nov 2025   Pseudo R-squ.:                  0.3391
Time:                        23:00:11   Log-Likelihood:                -47.351
converged:                       True   LL-Null:                       -71.648
Covariance Type:            nonrobust   LLR p-value:                   0.09611
=======================================================================================================
                                          coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                              -4.3311      5.651     -0.766      0.443     -15.407       6.745
C(Gender_simple)[T.Male]                0.9527      1.088      0.875      0.381      -1.181       3.086
C(no_employees)[T.100-500]             -3.1199      1.449     -2.152      0.031      -5.961      -0.279
C(no_employees)[T.26-100]              -1.8838      1.381     -1.364      0.172      -4.590       0.822
C(no_employees)[T.500-1000]            -0.0867      1.491     -0.058      0.954      -3.008       2.835
C(no_employees)[T.6-25]                -2.4441      1.139     -2.145      0.032      -4.677      -0.211
C(no_employees)[T.More than 1000]      -2.1277      1.334     -1.595      0.111      -4.742       0.487
C(remote_work)[T.Yes]                  -1.1737      0.714     -1.644      0.100      -2.573       0.226
C(benefits)[T.Unknown]                  1.1850      1.185      1.000      0.317      -1.138       3.508
C(benefits)[T.Yes]                      2.2483      1.249      1.799      0.072      -0.201       4.697
C(care_options)[T.Not sure]            -0.9965      0.929     -1.072      0.284      -2.818       0.825
C(care_options)[T.Yes]                  1.1207      0.916      1.224      0.221      -0.674       2.916
C(wellness_program)[T.Unknown]          1.2214      1.392      0.877      0.380      -1.507       3.950
C(wellness_program)[T.Yes]             -1.9261      1.149     -1.676      0.094      -4.178       0.326
C(seek_help)[T.Unknown]                 0.7923      1.040      0.762      0.446      -1.246       2.830
C(seek_help)[T.Yes]                     1.0967      1.255      0.874      0.382      -1.362       3.556
C(anonymity)[T.Unknown]                 2.2380      1.719      1.302      0.193      -1.131       5.607
C(anonymity)[T.Yes]                     2.8470      1.821      1.563      0.118      -0.723       6.417
C(leave)[T.Somewhat easy]              -0.8281      1.339     -0.619      0.536      -3.452       1.796
C(leave)[T.Unknown]                    -1.7704      1.159     -1.527      0.127      -4.043       0.502
C(leave)[T.Very difficult]              1.0711      1.437      0.746      0.456      -1.745       3.887
C(leave)[T.Very easy]                   0.2238      1.425      0.157      0.875      -2.570       3.017
C(mental_health_consequence)[T.No]     -2.8130      1.103     -2.549      0.011      -4.976      -0.650
C(mental_health_consequence)[T.Yes]     0.7170      1.114      0.643      0.520      -1.467       2.901
C(phys_health_consequence)[T.No]       -0.0414      0.907     -0.046      0.964      -1.819       1.736
C(phys_health_consequence)[T.Yes]       0.3995      1.482      0.270      0.787      -2.505       3.304
C(mental_health_interview)[T.No]        0.7024      1.076      0.653      0.514      -1.406       2.811
C(mental_health_interview)[T.Yes]       2.1390      2.173      0.984      0.325      -2.120       6.398
C(phys_health_interview)[T.No]         -0.4930      0.787     -0.626      0.531      -2.036       1.050
C(phys_health_interview)[T.Yes]         0.2173      1.438      0.151      0.880      -2.602       3.036
C(mental_vs_physical)[T.Unknown]        0.9490      0.984      0.964      0.335      -0.980       2.878
C(mental_vs_physical)[T.Yes]            0.1685      1.243      0.135      0.892      -2.268       2.605
C(coworkers)[T.Some of them]            0.7777      0.981      0.793      0.428      -1.145       2.701
C(coworkers)[T.Yes]                     0.5167      1.402      0.369      0.712      -2.231       3.265
C(supervisor)[T.Some of them]           0.2412      1.190      0.203      0.839      -2.091       2.574
C(supervisor)[T.Yes]                    2.0476      1.340      1.529      0.126      -0.578       4.673
C(obs_consequence)[T.Yes]               0.2438      1.023      0.238      0.812      -1.760       2.248
Age                                     0.0410      0.123      0.333      0.739      -0.201       0.283
=======================================================================================================

In [55]:
# 4. Hitung Odds Ratio
params = logit_model.params
conf = logit_model.conf_int()
odds_ratio = np.exp(params)
ci_lower = np.exp(conf[0])
ci_upper = np.exp(conf[1])

odds_table = pd.DataFrame({
    "Coef": params,
    "Odds Ratio": odds_ratio,
    "CI Lower": ci_lower,
    "CI Upper": ci_upper
})

print("\n=== TABEL ODDS RATIO ===")
display(odds_table)

=== TABEL ODDS RATIO ===

,Coef,Odds Ratio,CI Lower,CI Upper
Intercept,-4.331078,0.013153,2.036859e-07,849.400478
C(Gender_simple)[T.Male],0.952739,2.592802,3.070824e-01,21.891909
C(no_employees)[T.100-500],-3.119914,0.044161,2.577873e-03,0.756511
C(no_employees)[T.26-100],-1.883828,0.152007,1.015196e-02,2.276029
C(no_employees)[T.500-1000],-0.086743,0.916913,4.937104e-02,17.028785
C(no_employees)[T.6-25],-2.444144,0.086800,9.302661e-03,0.809909
C(no_employees)[T.More than 1000],-2.127660,0.119116,8.720889e-03,1.626960
C(remote_work)[T.Yes],-1.173674,0.309229,7.630241e-02,1.253204
C(benefits)[T.Unknown],1.184995,3.270670,3.204602e-01,33.380997
C(benefits)[T.Yes],2.248272,9.471358,8.182968e-01,109.626014
C(care_options)[T.Not sure],-0.996467,0.369181,5.972639e-02,2.281989
C(care_options)[T.Yes],1.120719,3.067059,5.095378e-01,18.461533
C(wellness_program)[T.Unknown],1.221436,3.392055,2.215306e-01,51.938813
C(wellness_program)[T.Yes],-1.926091,0.145717,1.532901e-02,1.385175
C(seek_help)[T.Unknown],0.792290,2.208448,2.877152e-01,16.951631
C(seek_help)[T.Yes],1.096673,2.994187,2.560779e-01,35.009482
C(anonymity)[T.Unknown],2.238007,9.374628,3.226365e-01,272.392135
C(anonymity)[T.Yes],2.846970,17.235487,4.854695e-01,611.906651
C(leave)[T.Somewhat easy],-0.828146,0.436859,3.168854e-02,6.022540
C(leave)[T.Unknown],-1.770407,0.170264,1.754551e-02,1.652258
C(leave)[T.Very difficult],1.071095,2.918574,1.747020e-01,48.757741
C(leave)[T.Very easy],0.223819,1.250845,7.657185e-02,20.433273
C(mental_health_consequence)[T.No],-2.813034,0.060023,6.903848e-03,0.521841
C(mental_health_consequence)[T.Yes],0.717006,2.048290,2.305652e-01,18.196564
C(phys_health_consequence)[T.No],-0.041412,0.959434,1.621669e-01,5.676331
C(phys_health_consequence)[T.Yes],0.399487,1.491059,8.167813e-02,27.219747
C(mental_health_interview)[T.No],0.702408,2.018607,2.450006e-01,16.631691
C(mental_health_interview)[T.Yes],2.139043,8.491308,1.199905e-01,600.900072
C(phys_health_interview)[T.No],-0.492983,0.610802,1.305832e-01,2.857019
C(phys_health_interview)[T.Yes],0.217266,1.242675,7.415903e-02,20.823358
C(mental_vs_physical)[T.Unknown],0.949014,2.583162,3.754048e-01,17.774753
C(mental_vs_physical)[T.Yes],0.168452,1.183471,1.034784e-01,13.535220
C(coworkers)[T.Some of them],0.777682,2.176421,3.181554e-01,14.888346
C(coworkers)[T.Yes],0.516673,1.676441,1.073969e-01,26.168863
C(supervisor)[T.Some of them],0.241228,1.272811,1.235504e-01,13.112447
C(supervisor)[T.Yes],2.047650,7.749667,5.610537e-01,107.043851
C(obs_consequence)[T.Yes],0.243835,1.276133,1.719998e-01,9.468128
Age,0.041002,1.041854,8.182081e-01,1.326632

# Simpan hasil

In [56]:
import os

# Direktori penyimpanan
output_path = r"D:\KULIAH UNNES\Metode Sampling dan Survei\Mental Health in Tech Survey\Mental-Healt-in-Tech-Survey\archive"

# Membuat folder jika belum ada
os.makedirs(output_path, exist_ok=True)

print("Folder penyimpanan:", output_path)

# 1. Simpan data hasil cleaning
clean_path = os.path.join(output_path, "df_clean.csv")
df_clean.to_csv(clean_path, index=False)
print("df_clean disimpan ke:", clean_path)

Folder penyimpanan: D:\KULIAH UNNES\Metode Sampling dan Survei\Mental Health in Tech Survey\Mental-Healt-in-Tech-Survey\archive
df_clean disimpan ke: D:\KULIAH UNNES\Metode Sampling dan Survei\Mental Health in Tech Survey\Mental-Healt-in-Tech-Survey\archive\df_clean.csv

In [57]:
# 2. Simpan data akhir untuk analisis
model_clean_path = os.path.join(output_path, "df_model_clean.csv")
df_model_clean.to_csv(model_clean_path, index=False)
print("df_model_clean disimpan ke:", model_clean_path)

df_model_clean disimpan ke: D:\KULIAH UNNES\Metode Sampling dan Survei\Mental Health in Tech Survey\Mental-Healt-in-Tech-Survey\archive\df_model_clean.csv

In [58]:
# 3. Simpan ringkasan hasil uji chi-square
chi_path = os.path.join(output_path, "chi_square_results.csv")
hasil_chi_df.to_csv(chi_path, index=False)
print("Ringkasan chi-square disimpan ke:", chi_path)

Ringkasan chi-square disimpan ke: D:\KULIAH UNNES\Metode Sampling dan Survei\Mental Health in Tech Survey\Mental-Healt-in-Tech-Survey\archive\chi_square_results.csv

In [59]:
# 4. Simpan tabel odds ratio regresi logistik
odds_path = os.path.join(output_path, "odds_ratio_results.csv")
odds_table.to_csv(odds_path, index=False)
print("Tabel odds ratio disimpan ke:", odds_path)

print("\nPenyimpanan selesai.")

Tabel odds ratio disimpan ke: D:\KULIAH UNNES\Metode Sampling dan Survei\Mental Health in Tech Survey\Mental-Healt-in-Tech-Survey\archive\odds_ratio_results.csv

Penyimpanan selesai.